<header>
	<h1 id="sitetitle"><img src="qcatomwhite.svg" alt="[Atom Icon]"><span>Quantum Condundrum Leaderboards<span></h1>
	<nav>
		<a href="index.html">
			<div class="btnLabel">Full game</div>
		</a>
		<b>
			<div class="btnLabel">Individual levels</div>
		</b>
		<a href="about.html">
			<div class="btnLabel">About</div>
		</a>
		<span class="divider">|</span>
		<a href="http://discord.gg/9jS6Xvc">
			<div class="btnLabel">Discord</div>
		</a>
		<a href="https://www.speedrun.com/qc">
			<div class="btnLabel">speedrun.com/qc</div>
		</a>
	</nav>
</header>
