body {
	--bluewing:#3e88b3;
	--bluewing-dark:#24333c;
	--yellowwing:rgb(224, 209, 49);
	--yellowwing-dark:#5e5e36;
	--redwing:#b33e3e;
	--redwing-dark:#541818;
	--uberids:repeating-linear-gradient(
			90deg,
			#b33e3e 0%,
			#b33e3e 14.28571%,
			#f79800 14.28571%,
			#f79800 28.57142%,
			#e0d131 28.57142%,
			#e0d131 42.85714%,
			#50bc50 42.85714%,
			#50bc50 57.14285%,
			#2ed1ce 57.14285%,
			#2ed1ce 71.42857%,
			#3e88b3 71.42857%,
			#3e88b3 85.71428%,
			#e45eff 85.71428%,
			#e45eff 100%
		);
	--desmonddebacle:#ff9235;
	--desmonddebacle-dark:#813c01;
	--ikearamba:#50bc50;
	--ikearamba-dark:#1a391a;
	overflow-x: hidden;
}

#totals {
	display:none;
}

#list {
	margin:16px;
}

	.wing {
		display:flex;
		flex-direction:column;
		padding:8px;
	}

	.wing.blue .level { background-color:var(--bluewing); }
	.wing.blue .wingtitle { color:var(--bluewing); }
	.wing.blue .level .number { color:var(--bluewing-dark); }

	.wing.yellow .level { background-color:var(--yellowwing); }
	.wing.yellow .wingtitle { color:var(--yellowwing); }
	.wing.yellow .level .number { color:var(--yellowwing-dark); }
	.wing.yellow { color:#222; }
	.wing.yellow .level .time,
	.wing.yellow .level .shift { text-shadow: none; }

	.wing.red .level { background-color:var(--redwing); }
	.wing.red .wingtitle { color:var(--redwing); }
	.wing.red .level .number { color:var(--redwing-dark); }

	/* .wing.uberids .level { background-image:var(--uberids); }
	.wing.uberids .wingtitle { color:var(--redwing); }
	.wing.uberids .level .number { color:var(--redwing-dark); } */

	.wing.desmonddebacle .level { background-color:var(--desmonddebacle); }
	.wing.desmonddebacle .wingtitle { color:var(--desmonddebacle); }
	.wing.desmonddebacle .level .number { color:var(--desmonddebacle-dark); }
	.wing.desmonddebacle { color:#222; }
	.wing.desmonddebacle .level .time,
	.wing.desmonddebacle .level .shift { text-shadow: none; }

	.wing.ikearamba .level { background-color:var(--ikearamba); }
	.wing.ikearamba .wingtitle { color:var(--ikearamba); }
	.wing.ikearamba .level .number { color:var(--ikearamba-dark); }
	.wing.ikearamba { color:#222; }
	.wing.ikearamba .level .time,
	.wing.ikearamba .level .shift { text-shadow: none; }

	.levels {
		display:flex;
		flex-direction:column;
		margin-left:4px;
		flex:1;
	}

	.wingtitle {
		font-family:Oswald, sans-serif;
		font-weight:300;
		font-size:2.5em;
		color:#555;
		margin-left:1px;
	}

	.level {
		display:flex;
		height:60px;
		margin-bottom:2px;
		background-color:#555;
	}

		.level .image {
			order: -1;
		}

			.level .image img {
				display:block;
				margin-top:2px;
				margin-left:2px;
				height:56px;
				width:auto;
				object-fit: cover;
			}

			.level .image:active {
				display:flex;
				justify-content:center;
				align-items:center;
				position:fixed;
				left:0px;
				top:0px;
				width:100vw;
				height:100vh;
				z-index:2;
				background:rgba(0, 0, 0, 0.5);
			}

			.level .image:active img {
				height:auto;
				width:265px;
				transform:scale(2);
			}

		.level .title {
			padding:0px 8px;
			font-size:1.6em;
			height:2.5em;
			text-transform:uppercase;
			width:420px;
			font-weight:400;
		}

		.level .number {
			padding-left:4px;
			text-align:center;
			color:#161616;
			font-size:2em;
			flex-direction:column;
			justify-content:center;
			width:3ch;
		}
			.level .number .wingid {
				display:none;
				font-size:.35em;
				opacity:.7;
				margin-top:2px;
			}
			.level .number:hover .wingid {
				display:block;
			}

		.level .number,
		.level .title {
			font-family:"Oswald", sans-serif;
			line-height:1;
			display:flex;
			align-items:center;
		}

		.level .time,
		.level .shift {
			flex:1;
			display:flex;
			text-shadow: 0px 1px 1px #363636;
		}

		.level .entry {
			text-align: right;
			min-width:150px;
			margin-left:2px;
		}
			.level .entry:nth-child(2) { opacity: .85; }
			.level .entry:nth-child(2) > div:nth-child(1) { font-size:1.75em; }
			.level .entry:nth-child(3) { opacity: .7; }
			.level .entry:nth-child(3) > div:nth-child(1) { font-size:1.5em; }
			.level .entry:nth-child(4) { opacity: .55; }
			.level .entry:nth-child(4) > div:nth-child(1) { font-size:1.25em; }
			.level .entry:nth-child(5) { opacity: .4; }
			.level .entry:nth-child(5) > div:nth-child(1) { font-size:1em; }

			.level .entry > div:nth-child(1) {
				font-size:2em;
				font-weight:100;
				font-family:"Oswald", sans-serif;
			}
			.level .entry > div:nth-child(2) {
				margin-top:-2px;
				font-weight:600;
			}

			.level .entry.unset {
				font-style:italic;
			}
