<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>About - Quantum Conundrum Leaderboards</title>
		<link rel="icon" type="image/ico" href="safebluewhitealpha.ico">
		<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="base.css">
		<link rel="stylesheet" type="text/css" href="chambers.css">
		<link rel="stylesheet" type="text/css" href="http://qc.zemanzo.nl/fontello/css/fontello.css">
	</head>

	<body>
		{{>partials/header}}
		<section id="about">
			<h1>
				About
			</h1>
			<h2>
				This site
			</h2>
			<p>
				I made this mainly as a replacement for <a href="thread/">the thread</a> on the steam forums. Since those shut down, I had to relocate it elsewhere and this is what it ended up to be. It's coded <s>pretty</s> really poorly but that doesn't matter because not many people go here. I'm using the speedrun.com API to fetch the times and I have a list that I manually add for the shifts.
			</p>
			<h2>
				Least Shifts
			</h2>
			<p>
				Shift records are based on the first person to provide proof of their run using said number of shifts. Speed is of no importance. Since speedrun.com doesn't provide any form to submit non-time related runs, I have to add these to the leaderboards manually. Hit me up when you have a better shift run and I'll change it accordingly. Not gonna bother with coding a submission interface for that cause it's not worth the effort.
			</p>
			<h2>
				Rules
			</h2>
			<p>
				There are some glitches for ILs that are not approved of in the community.
				<ul>
					<li>
						Restart Glitch (RG). This is a glitch that makes use of the frame of gameplay after restarting, allowing you to perserve momentum, active triggers preemptively or even bypass the level completely by touching the end trigger in that frame. Since the time you took to set up isn't counted by the in-game timer, this glitch is not allowed. <a href="https://www.youtube.com/watch?v=eTwE3QN8OCk">Examples</a> <a href="https://www.youtube.com/watch?v=HRq0TXN-wqs">here</a>.
						<br/>Besides, if we would allow this, every level would be completed in 0 seconds as you can jump towards the end level trigger, and hit it on reset. Don't do that.
					</li>
					<li>
						Continue Glitch (CG). This makes use of going through the game and opening up the level you wish to run. However, one does not enter the level yet, allowing it to set up before starting the time. Since the time you took to set up isn't counted by the in-game timer, this glitch is not allowed. <a href="https://youtu.be/JyRU7xvOvdM?t=52s">Example here</a>.
					</li>
				</ul>
			</p>
			<h2>
				Tools
			</h2>
			<p>
				There's no known way to open a console of sorts in the game, but you can still run commands through the bindings file. I've summed up my findings so far in <a href="https://pastebin.com/yCuUERNL">this pastebin</a>. Don't cheat.
			</p>
			<h2>
				When's sub 6
			</h2>
			<p>
				Yes
			</p>
			<h2>
				"There's nothing gay about feeling another man"
			</h2>
			<p>
				<s>Leji</s> Anonymous - December 10th, 2017
			</p>
		</section>
	</body>

</html>
