<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Individual levels - Quantum Conundrum Leaderboards</title>
		<link rel="icon" type="image/ico" href="safebluewhitealpha.ico">
		<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,600|Yanone+Kaffeesatz" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="base.css">
		<link rel="stylesheet" type="text/css" href="chambers.css">
		<link rel="stylesheet" type="text/css" href="http://qc.zemanzo.nl/fontello/css/fontello.css">
	</head>
	<body>
		{{>partials/header}}
		<section id="totals">
			Totals and yada
		</section>
		<section id="list">
			{{#wings}}
				<div class="wing {{className}}">
					<div class="wingtitle">
						{{title}}
					</div>
					<div class="levels">
						{{#levels}}
							{{>partials/level}}
						{{/levels}}
					</div>
				</div>
			{{/wings}}
		</section>
	</body>
</html>
